body {
    padding-top: 5em;   
}



ul {
    text-align: center;
}

.sidebar {
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 0;
    width: 300px;
    z-index: 996;
    transition: all 0.3s;
    padding: 20px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #f5d4c0 transparent;
    box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
    background-color: rgb(234, 234, 234);
  }
  @media (max-width: 1199px) {
    .sidebar {
      left: -300px;
    }
  }
  .sidebar::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: rgb(201, 200, 200);
  }
  .sidebar::-webkit-scrollbar-thumb {
    background-color: rgb(201, 200, 200);
  }
  
  @media (min-width: 1200px) {
    #main, #footer {
      margin-left: 300px;
    }
  }
  @media (max-width: 1199px) {
    .toggle-sidebar .sidebar {
      left: 0;
    }
  }
  @media (min-width: 1200px) {
    .toggle-sidebar #main, .toggle-sidebar #footer {
      margin-left: 0;
    }
    .toggle-sidebar .sidebar {
      left: -300px;
    }
  }
  
  .sidebar-nav {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .sidebar-nav li {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .sidebar-nav .nav-item {
    background-color: rgb(201, 200, 200);
  }

  .sidebar-nav .nav-link {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    color: rgb(245, 126, 71);
    transition: 0.3;
    background: rgb(201, 200, 200);
    padding: 10px 15px;
  }
  .sidebar-nav .nav-link i {
    font-size: 16px;
    margin-right: 10px;
    color: rgba(242, 101, 34);
  }
  .sidebar-nav .nav-link.collapsed {
    color: rgb(245, 126, 71);
    background: rgb(234, 234, 234);
  }
  .sidebar-nav .nav-link.collapsed i {
    color: rgb(249, 157, 114);
  }
  .sidebar-nav .nav-link:hover {
    color: rgba(242, 101, 34);
    background: rgb(189, 188, 188);
  }
  .sidebar-nav .nav-link:hover i {
    color: rgba(242, 101, 34);
  }
  .sidebar-nav .nav-link .bi-chevron-down {
    margin-right: 0;
    transition: transform 0.2s ease-in-out;
  }
  .sidebar-nav .nav-link:not(.collapsed) .bi-chevron-down {
    transform: rotate(180deg);
  }
  .sidebar-nav .nav-content {
    padding: 5px 0 0 0;
    margin: 0;
    list-style: none;
  }
  .sidebar-nav .nav-content a {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    color: rgba(242, 101, 34);
    transition: 0.3;
    padding: 10px 0 10px 40px;
    transition: 0.3s;
  }
  .sidebar-nav .nav-content a i {
    font-size: 6px;
    margin-right: 8px;
    line-height: 0;
    border-radius: 50%;
  }
  .sidebar-nav .nav-content a:hover, .sidebar-nav .nav-content a.active {
    color: rgba(242, 101, 34);
    background-color:  rgb(189, 188, 188);
  }
  .sidebar-nav .nav-content a.active i {
    background-color: rgba(242, 101, 34);
  }

  tr{
      width: 60%;
      text-align: left;
  }
  
  